@import "tailwindcss";

@plugin "daisyui";
@import url('./Font.css');

html, body {
  font-family: 'Shabnam', system-ui, sans-serif;
  direction: rtl; 
}

* {
  direction: rtl;
  text-align: right;
}

.btn-mine {
  background-color: whitesmoke;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: black;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.btn-mine:hover {
  background-color: #0A295A;
  color: white;
}

.btn-primary:hover {
  background-color: #0A295A !important;
  border-color: #0A295A !important;
}

.btn-hover-blue:hover {
  background-color: #0A295A !important;
  border-color: #0A295A !important;
  color: white !important;
}
.badge-orange{
  background: #FE5F55;
}
.fbabg{
  width: 55px;
  height: 55px;
  border-radius:15px ;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
}

/* Menu */
.menu > li > button:hover,
.menu > li > a:hover {
  color: #FE5F55;
  border-bottom: 2px solid #FE5F55;
  background-color: transparent !important;
}
/*mainnav svg*/
.btn-min2 {
  background-color: whitesmoke;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: black;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.btn-min2:hover {
  background-color: #9f9f9f;
  color: white;
}
