
.swiper,
.swiper-wrapper,
.swiper-slide {
  height: 100% !important;
}

.swiper {
  width: 100%;
  max-width: 1228px;
  border-radius: 13px;
  margin: 0 auto;
  overflow: hidden;
}

/* اسلایدها */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
}

/* تصاویر تو اسلاید */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media (max-width: 640px) {
  .swiper { border-radius: 10px; }
}
@media (max-width: 480px) {
  .swiper { border-radius: 8px; }
}
@media (max-width: 360px) {
  .swiper { border-radius: 6px; }
}


